
.svelte-1gfkn6j{
    display: None
}

/* .label.svelte-13hsdno{
    display: none
} */

.svelte-cmf5ev{
    background: #e8313e;
    opacity: 0.8;
    color: cornsilk;
}

/* .svelte-j5bxrl.center.boundedheight{
    height: 115px!important;
} */

.svelte-b0hvie{
    font-size:30%;
}